@import "variables";

@mixin respond($breakpoint) {
  @if $breakpoint == ph {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tp {
    @media only screen and (max-width: 59.37em) {
      @content;
    }
  }
  @if $breakpoint == dsk {
    @media only screen and (max-width: 112.5em) {
      @content;
    }
  }
  @if $breakpoint == lrg {
    @media only screen and (min-width: 112.51em) {
      @content;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  padding: 0 1.6% 0rem 1.7%;
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.6;
  color: $color-dark;
  overflow: visible;
  scroll-behavior: smooth;

  @include respond(dsk) {
    font-size: 56.25%;
  }

  @include respond(tp) {
    font-size: 50%;
  }
  @include respond(ph) {
    font-size: 34%;
  }
  @include respond(lrg) {
    font-size: 75%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
