
.cafesection1, .cafesection2 {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: $border-pic--s;
    

    @include respond(tp) {
    }
    @include respond(ph) {
    }
    &__box {
        @include main__container;
        max-width: 1200px;
        @include respond(tp) {
            text-align: center;
            flex-direction: column;

        }
        @include respond(ph) {
            flex-direction: column;
        }
    }    
    &__img {
        max-width: 100%;
        @include respond(ph) {
            max-width: 320px;
        }
        img {
            display: flex;
            min-width: 200px;
            max-width: 620px;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            // margin: 3rem 3rem;
            box-shadow: $shadow;
            border-radius: $border-pic--l;

            @include respond(tp) {
                position: relative;
                max-width: 520px;
                margin-bottom: 3rem;
            }
            @include respond(ph) {
                max-width: 100%;
                margin: 0 auto;
                margin-top: 8rem;
                
            }
            } 
    }
    &__text {
            display: flex;
            flex-direction: column;
            font-size: 1.6rem;
            font-weight: 700;
            max-width: 45rem;
            text-align: justify;
            padding: 0 3rem;
            margin: 0 3rem;
            
            span {
                color: $color-primary;
            }
            @include respond(tp) {
                font-size: 1.8rem;
                max-width: 54rem;
                margin: 4rem 0;
            }
            @include respond(ph) {
                font-size: 2.2rem;
                max-width: 80rem;
                margin: 0rem 0;
            }
    }
    
    .cafesection1__text--btn, .cafesection2__text--btn {
            @include btn__solo;
            text-align: center;
            font-weight: 900;
            width: 14rem;
            padding: 1rem 1.2rem;
            font-size: 1.5rem;
            margin-top: 3rem;
    }
    .cafesection2__text--btn {
        background-color: $color-secondary-dark;
        color: $color-white;
    }
}
.cafesection1 {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(
        to right top,
        rgba($color-secondary, .7),
        rgba($color-secondary-dark, .7)),
        url(../images/cafe__main--bg-x2.jpg);
        background-size: cover;
        background-position: center;
    color: $color-white;
    // clip-path: polygon(0 20%, 50% 10%, 100% 0%, 100% 85%, 50% 100%, 0 85%);

    @include respond(ph) {
    }
}
.cafesection2 {
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    background-color: $color-white;
    color: $color-secondary-dark;
    @include respond(tp) {
        min-height: 740px;
    }
    @include respond(ph){
    min-height: 580px;
}

    &__box {
        @include respond(tp) {
            flex-direction: column-reverse;
        }
        @include respond(ph) {
            flex-direction: column-reverse;
        }
    }
}
.cafe__sectionend {
    height: 18vw;
}

.footer {
    margin-top: 4rem;
}