.contact {
    height: 90vh;
    background-color: $color-secondary-dark;
    color: $color-white; 
    background-image: linear-gradient(
        to right top,
        rgba($color-secondary, .6),
        rgba($color-secondary-dark, .6)),
        url(../images/contact__main--bg-x2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 0%, 100% 85%, 50% 100%, 0 85%);
    border-radius: $border-pic--l;
    overflow: hidden;
    display: flex;
    vertical-align: middle;
    @include respond(ph) {
        clip-path: polygon(0 0, 100% 0, 100% 0%, 100% 85%, 50% 92%, 0 85%);
    }

    &__box {
        @include box;   
        display: flex;
        vertical-align: middle;
        justify-content: center;
        margin-top: -4rem;
        &--text {
            padding: 2rem;
            &-header {
            font-size: 7rem;
            text-align: center;
            letter-spacing: 1.1rem;
            }
        &-subheader {
            font-size: 2rem;
            letter-spacing: 2.1rem;
            position: relative;
            top: -2.2rem;
            font-weight: 900;
        }
        &-address {
            font-size: 1.3rem;
            letter-spacing: 0.6rem;
            position: relative;
            top: -2rem;
            margin-bottom: .2rem;
        }
        &-tel {
            font-size: 2rem;
            color: $color-primary;
            position: relative;
            top: -1.2rem;
            margin-bottom: 1rem;
        }
        }
}
.contact__form {
    width: 100%;
}

.form {
    &__heading {
        font-size: 1.4rem;
        letter-spacing: 0.35rem;
        font-weight: 500;
    }
    input, textarea {
        width: 300px;
        height: 2.8rem;
        outline: none;
        border: none;
        background: rgba($color: $color-secondary-dark, $alpha: .6);
        margin: 0.2rem;
        font-family: $font-primary;
        padding: 0.4rem;
        transition: all .2s ease-in;
        &:hover {
            background: rgba($color: $color-secondary-dark, $alpha: .7);
        }
    }
    textarea {
        height: 10rem;
    }
    .form__submit {
        @include btn__solo;
        width: 18%;
        height: auto;
        margin: 1rem;
        padding: 1.2rem 1.6rem;
        border-radius: 22rem;
        background-color: rgba($color: $color-secondary-dark, $alpha: .7);
        color: $color-white;
        font-family: $font-primary;
        font-size: 1.4rem;
        font-weight: 700;
    }
}
}