.contact {
    height: 80vh;
    background-color: $color-secondary-dark;
    color: $color-white; 
    background-image: linear-gradient(
        to right top,
        rgba($color-secondary, .6),
        rgba($color-secondary-dark, .6)),
        url(../images/contact__main--bg-x2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 0%, 100% 85%, 50% 100%, 0 85%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 100% 85%, 50% 100%, 0 85%);
    border-radius: $border-pic--l;
    overflow: hidden;
    display: flex;
    vertical-align: middle;
    @include respond(ph) {
        clip-path: polygon(0 0, 100% 0, 100% 0%, 100% 85%, 50% 92%, 0 85%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 100% 85%, 50% 92%, 0 85%);
        height: 74vh;
    }

    &__box {
        @include box;   
        display: flex;
        flex-direction: column;
        margin-top: -4rem;
        &--text {
            padding: 2rem;

        &-header {
            font-size: 7rem;
            letter-spacing: 1.1rem;
            @include respond(ph) {
                font-size: 5rem;
                margin-bottom: 3rem;
            }

            }
        &-subheader {
            font-size: 1.9rem;
            letter-spacing: 2.8rem;
            position: relative;
            top: -2.2rem;
            font-weight: 900;
            @include respond(ph) {
                font-size: 1.8rem;
                letter-spacing: 1.6rem;
                margin-bottom: 3rem;
            }
        }
        &-address {
            font-size: 1.3rem;
            letter-spacing: 0.6rem;
            position: relative;
            top: -2rem;
            margin-bottom: .2rem;
        }
        &-tel {
            font-size: 2rem;
            color: $color-primary;
            position: relative;
            top: -1.2rem;
            margin-bottom: 1rem;
            letter-spacing: 0.6rem;
        }
        }
}
.contact__form {
    width: 100%;
    text-align: left;
    max-width: 30rem;
    margin: 0 auto;
}

.form {

    &__heading {
        font-size: 1.4rem;
        letter-spacing: 0.35rem;
        font-weight: 500;
        margin-left: 2rem;
    }
    
    input, textarea {
        outline: none;
        border: none;
        background: rgba($color: $color-secondary-dark, $alpha: .6);
        margin: 0.2rem;
        font-family: $font-primary;
        padding: 0.4rem;
        transition: all .2s ease-in;
        max-width: 28rem;
        &:hover {
            background: rgba($color: $color-secondary-dark, $alpha: .7);
        }
    }
    
    textarea {
        height: 8rem;
    }
    .form__submit {
        @include btn__solo;
        width: 28%;
        height: auto;
        margin: 1rem;
        padding: 1.2rem 1rem;
        border-radius: 22rem;
        background-color: rgba($color: $color-secondary-dark, $alpha: .7);
        color: $color-white;
        font-family: $font-primary;
        font-size: 1.4rem;
        font-weight: 700;
        position: relative;
        margin-left: 10rem;
        
    }
    &__name, &__email {
        margin-left: 2rem;
    }
}

p {
    margin-top: 1rem;
}
}
.contact__box--map {
    overflow:hidden;
    padding-bottom: 46.25%;
    position:relative;
    height:0;
    margin-bottom: 12rem;
}
.contact__box--map iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    max-width: 90rem;
    max-height: 70rem;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 3rem 0;
    padding: 2rem;
}

.cafe__heading {
    position: relative;
    top: 4rem;
    z-index: 5;
    margin-bottom: 4rem;
    @include respond(tp) {
        top: -2rem;
        font-size: 2.9rem;
        margin-bottom: 2rem;

    }
    @include respond(ph) {
        padding: 2rem;
        margin-top: 0rem;
        top: -6rem;
        margin-bottom: 0rem;
    }
}
