.courses {
    width: 100%;
    height: auto;

    .courses__heading {
        @include main__heading;
        margin-top: 0;
        font-size: 5rem;
        @include respond(tp) {
            margin-top: 4rem;
        }           
    }
    &__main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        vertical-align: middle;
        max-width: 1140px;
        min-height: 56rem;
        margin: 0 auto;
        height: auto;
        color: white;
        margin: 2rem auto 2rem auto;
        padding-top: 6rem;
        @include respond(tp) {
            padding-top: 0;
        }
        @include respond(ph) {
            flex-direction: column-reverse;
        }
        
        &--text {
            max-width: 60%;
            text-align: center;
            padding-top: 4rem;
            @include respond(tp) {
                max-width: 60%;
            }
            @include respond(ph) {
                max-width: 100%;
                padding-top: 2rem;
            }
            &-header {
                font-family: $font-primary;
                font-weight: 900;
                font-size: 4rem;
                background-color: $color-secondary-dark;
                background-image: linear-gradient(-45deg, $color-secondary, $color-secondary-dark);
                background-clip: text;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent;
                -moz-text-fill-color: transparent;    
                text-transform: uppercase; 
            }
            &-p{
                color: $color-secondary-dark;
                padding: 2rem 8rem;
                font-size: 1.8rem;
                @include respond(tp) {
                    padding: 1.8rem;
                    font-size: 2rem;
                }
                @include respond(ph) {
                    padding: 1rem;
                    font-size: 2.2rem;
                }
            }
        }

        &--gallery {
            max-width: 30rem;
            max-height: 42rem;
            @include respond(tp) {
               margin-top: 4rem;
            }
            @include respond(ph) {
                padding-top: 2rem;
                margin: 0 auto;
            }
        }
    }
    
}
.courses__cards {
    display: flex;
    justify-content: space-evenly;
    max-width: 120rem;
    height: auto;
    margin: auto;
    margin-bottom: 6rem;
           
    @include respond(ph) {
        flex-direction: column;
        justify-content: space-evenly;
        
    }           
    .card__container {
        border-radius: $border-pic--s;

        width: 24rem;
        height: 30rem;
        background-color: $color-secondary-dark;
        color: $color-white;
        background-image: linear-gradient(
            to right top,
            rgba($color-secondary, .8),
            rgba($color-secondary-dark, .8));
        box-shadow: $shadow;
        text-align: center;
        transition: all .4s ease;
        cursor: pointer;
        @include respond(tp) {
            width: 21rem;
            height: 28rem;
        }           
        @include respond(ph) {
            margin: 0 auto;
            margin-top: 3rem;

        }           
            &:hover {
                transform: scale(1.06);
            }

        .fas {
            font-size: 6rem;
            margin-top: 3rem;
            @include respond(tp) {
                font-size: 4rem;
            }   
        }

        .card {
            &__text {
                font-size: 1.6rem;
                padding: 2rem;
            }
            &__price {
                font-size: 3rem;
                color: $color-primary;
            }
            &__btn {
                @include btn__solo;
                max-width: 45%;
                font-size: 1.6rem;
                font-weight: 900;
                color: $color-secondary-dark;
                padding: .8rem .6rem;
                position: relative;
                bottom: -1rem;
            }
        }
    }
}
.courses__head {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    color: $color-primary;
}
.courses__join {
    width: 100%;
    height: 40vh;
    text-align: center;
    margin-bottom: 7rem;
    &-title {
        font-size: 3rem;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
    }
    .container {
        font-size: 2rem;
}
input {
    margin: 1rem;
}
.input__email {
    border: 1px solid $color-secondary;
    width: 180px;
    height: 30px;
    text-align: center;
}
.input__submit {
    padding: 1.2rem;
    border-radius: 25px;
    border: 0;
    font-size: 1.8rem;
    font-weight: 700;
    cursor: pointer;
    @include btn__solo;
    background-color: $color-secondary;
    color: $color-white;
    outline: none;
}
}