@import "variables";

.header {
    height: 80vh;
    background-color: $color-secondary-dark;
    color: $color-white;
    background-image: linear-gradient(
        to right top,
        rgba($color-secondary, .8),
        rgba($color-secondary-dark, .8)),
        url(../images/home__main-bg-x1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 0%, 100% 85%, 50% 100%, 0 85%);
    border-radius: $border-pic--l;

    &__box {
        @include box;
    
    &--h1 {
        font-size: 7rem;
        letter-spacing: 1.2rem;
        text-transform: uppercase;
        animation-name: fromTop;
        animation-duration: 3s;
        font-weight: 900;
    }
    &--h2 {
        width: 100%;
        font-size: 1.55rem;
        letter-spacing: 1.1rem;
        text-transform: uppercase;
        padding-bottom: 8rem;
        animation-name: fadeIn;
        animation-duration: 3s;
        font-weight: 900;

    }
    &--btn {
        @include btn;
        font-size: 1.7rem;
        width: 20rem;
        padding: 1.6rem 1.8rem;

        @keyframes fromTop {
            0% {
                opacity: 0;
                transform: translateY(-6rem);
            }
            50%{
                transform: translateY(2.6rem);
            }
            100% {
                opacity: 1;
                transform: translate(0);
            }
        }
        @keyframes fadeIn {
            0% {
                opacity: 0;
                transform: scale(1);
            }
            50%{
                opacity: .5;
                transform: scale(1.2);
            }
            100% {
                opacity: 1;
                transform: scale(1);
            }
        }
        @keyframes fadeInButton {
            0% {opacity: 0;}
            40% {opacity: 0;}
            100% {opacity: 1;}
        }}
    }
}

// Offers
.offers {
    height: auto;
    width: 100%;

    &__container {
        width: 100%;
        max-width: 110rem;
        height: auto;
        margin: 0 auto;
        padding: 16rem 0rem;
        display: flex;
        justify-content: space-evenly;
        h1 {
            display: none;
        }
        .card {
            height: 30rem;
            width: 24rem;
            cursor: pointer;
            transition: transform .6s linear;

            

            &__front {
                transform: perspective(120rem) rotateY(0deg);
                box-shadow: $shadow;

                &--front1 {
                    position: relative;
                    height: 100%;
                    background-color: $color-secondary-dark;
                    color: $color-white;
                    background-image: linear-gradient(
                    to right top,
                    rgba($color-secondary, .6),
                    rgba($color-secondary-dark, .6)),
                    url(../images/home__card--breakfast-x1.jpg);
                    background-size: cover;
                    background-position: center;
                    
    
                    h2 {
                        color: #fff;
                        font-size: 2.2rem;
                        text-transform: uppercase;
                        letter-spacing: 0.1rem;
                        position: relative;
                        top: 2rem;
                        font-weight: 900;
                        padding: 1rem 2rem 5rem 2rem;

                    }
                    p {
                        color: #fff;
                        font-size: 1.4rem;
                        letter-spacing: 0.1rem;
                        
                        font-weight: 500;
                        padding: 0rem 1rem 1rem 1rem;

                    }
                }
                &--front2 {
                    position: relative;
                    height: 100%;
                    background-color: $color-secondary-dark;
                    color: $color-white;
                    background-image: linear-gradient(
                    to right top,
                    rgba($color-secondary, .6),
                    rgba($color-secondary-dark, .6)),
                    url(../images/home__card--honey-x1.jpg);
                    background-size: cover;
                    background-position: center;
    
                    h2 {
                        color: #fff;
                        font-size: 2.2rem;
                        text-transform: uppercase;
                        letter-spacing: 0.1rem;
                        position: relative;
                        top: 2rem;
                        font-weight: 900;
                        padding: 1rem 2rem 5rem 2rem;

                    }
                    p {
                        color: #fff;
                        font-size: 1.4rem;
                        letter-spacing: 0.1rem;
                        
                        font-weight: 500;
                        padding: 0rem 1rem 1rem 1rem;

                    }
                }
                &--front3 {
                    position: relative;
                    height: 100%;
                    background-color: $color-secondary-dark;
                    color: $color-white;
                    background-image: linear-gradient(
                    to right top,
                    rgba($color-secondary, .6),
                    rgba($color-secondary-dark, .6)),
                    url(../images/home__card--bee-x1.jpg);
                    background-size: cover;
                    background-position: center;
    
                    h2 {
                        color: #fff;
                        font-size: 2.2rem;
                        text-transform: uppercase;
                        letter-spacing: 0.1rem;
                        position: relative;
                        top: 2rem;
                        font-weight: 900;
                        padding: 0rem 2rem 4rem 2rem;

                    }
                    p {
                        color: #fff;
                        font-size: 1.4rem;
                        letter-spacing: 0.1rem;
                        
                        font-weight: 500;
                        padding: 0rem 1.4rem 1rem 1.4rem;

                    }
                }
            }
            &__back {
                background-color: $color-secondary-dark;
                color: $color-white;
                background-image: linear-gradient(
                    to right top,
                    rgba($color-secondary, .8),
                    rgba($color-secondary-dark, .8));
                transform: perspective(60rem) rotateY(180deg);
                box-shadow: $shadow;
                
                &--back1 {
                    text-align: center;
                    padding: 3rem;
                    margin: 0 auto;

                p {
                    color: #fff;
                    font-size: 1.6rem;
                    text-transform: capitalize;
                    letter-spacing: 0.05rem;
                    position: relative;
                    top:  2rem;
                    font-weight: 500;
                    padding-bottom: 1rem;
            }
        }
        }
                &__front--btn {
                    @include btn__solo;
                    font-size: 1.4rem;
                    width: 10rem;
                    margin: 0 auto;
                    background-color: #fff;
                    color: $color-dark;
                    border-radius: 2.2rem;
                    padding: 1rem 1.2rem;
                    position: absolute;
                    bottom: 3rem;
                    left: 7.2rem;
                    // transform: translate(-50%, -50%);
                    // text-transform: uppercase;
                    font-weight: 700;
                    // transition: all .3s linear;

                    // &:hover{
                    //     box-shadow: $shadow;
                    //     transform : translateY(-3px) scaleX(1.01);
                    //     background-color: $color-secondary-dark;
                    //     color: white;
                    // }
                    // &:active{
                    // box-shadow: $shadow;
                    // transform:translateY(-1px);
                    // }
                }
            
            &:hover > .card__front {
                transform: perspective(120rem) rotateY(-180deg) scale(1.2);
            }
            &:hover > .card__back {
                transform: perspective(120rem) rotateY(0deg) scale(1.2);
            }
            .btn--back {
                
                @include btn__solo;
                width: 12rem;
                margin: 0 auto;
                position: absolute;
                    bottom: 3rem;
                    left: 6.6rem;
                // position: absolute;
                // top: 82%;
                // left: 50%;
                // transform: translate(-50%, -50%);
            }
            .card__front, .card__back {
                width: 24rem;
                height: 30rem;
                overflow: hidden;
                backface-visibility: hidden;
                position: absolute;
                transition: transform .6s linear;
                border-radius: $border-pic--s;
                text-align: center;
            }
}
}}

// Course Preview

.coursepreview {
    width: 80%;
    max-width: 900px;
    height: 60vh;
    margin: 0 auto;
    background-color: $color-secondary-dark;
    color: $color-white;
    background-image: linear-gradient(
        to right top,
        rgba($color-secondary, .8),
        rgba($color-secondary-dark, .8)),
        url(../images/home__coursepreview--bg-x1.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    box-shadow: $shadow;
    border-radius: $border-pic--s;
    &__box {
        
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
        justify-content: center;

    }
    &__img {
        width: 100%;
    }
    &__img img{
        display: flex;
        width: 70%;
        margin: 0 auto;
        min-width: 280px;
        }

    &__text {
        display: inline-block;
        color: #fff;
        font-size: 1.6rem;
        font-weight: 400;
        width: 100%;
        // max-width: 580px;
        padding: 1rem 3.8rem 0 0;
        text-align: center;
    }
       
         

        .coursepreview__text--btn {
            font-weight: 900;
            width: 14rem;
            padding: 1.2rem 1.6rem;
            font-size: 1.6rem;
            

            @include btn__solo;
            margin-top: 3rem;
        }}
        
    


// Banners
.banners {
    width: 100%;
    height: auto;
    padding: 16rem 0rem 8rem 0rem;
&__container {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;

    .banners__banners {
        width: 100%;
        height: auto;
        padding: 0 2rem;
        padding-top: 2rem;
              
        .banner1, .banner2, .banner3 {
            width: 65vw;
            max-width: 800px;
            height: auto;
            margin-bottom: 3rem;
        }
             img {
                width: 100%;;
                border-radius: $border-pic--s;
                box-shadow: $shadow;
                transition: transform .3s ease-in;

                &:hover {
                    transform: scale(1.06);
                }
            }

        }
        
            

        }
    }

.fed {
    // width: auto;
    // height: 55.2rem;
    // background-color: $color-secondary-dark;
    // padding: 0.6rem;
    // border-radius: $border-pic--s;
    box-shadow: $shadow;
}
.twitter-timeline {
    height: 62rem !important;
//     border: 1.2rem $color-secondary-dark solid; 
}

