@mixin cell__text {
    opacity: 0;
    font-size: 1.4rem;
    color: $color-white;
    text-align: center;
    position: relative;
    top: 5rem;
    padding: 2rem;
    transition: all .8s;
}
@mixin cell__btn {
    opacity: 0;
    font-size: 1.4rem;
    color: $color-white;
    text-align: center;
    position: relative;
    top: 4rem;
    padding: 1rem 1.4rem;
    width: 40%;
}

.shop__bee__left {
    position: absolute;
    left: 10%;
    top: 55%;
    @include respond(tp) {
        display: none;
        }
    
}
.shop__bee__right {
    position: absolute;
    left: 86%;
    top: 20%;
    @include respond(tp) {
        display: none;
        }
}

.shop {
    width: 100%;
}
.gallery {
    width: 100%;
    height: auto;
    margin: 0 auto;
    .shop__heading {
        @include main__heading;
        margin: 0 auto;
        margin-top: -3rem;
        @include respond(tp) {
            margin-top: 6rem;
            margin-bottom: 1rem;
        }
        @include respond(ph) {
            margin-top: 4rem;
            margin-bottom: 6rem;
        }
    }
    &__container {
        width: 100%;
        height: auto;
        max-width: 110rem;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        padding: 0 4rem;
        @include respond(tp) {
            padding: 0;
        }
        &--items {
            display: inline-block;
            min-height: 64rem;
            @include respond(tp) {
                min-height: 90rem;
                text-align: center;
                min-height: auto;
            }
        }
        &--item1, &--item2, &--item3, &--item4, &--item5, &--item6 {
            display: inline-block;
            height: 600px;
            width: 600px;
            max-width: 28rem;
            max-height: 28rem;
            overflow: hidden;
            -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
            clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
            padding: 3px;     

            @include respond(tp) {
                // clip-path: none;
                // -webkit-clip-path: none;
                margin: 3rem;
            }
            @include respond(ph) {
                max-width: 46rem;
                max-height: 46rem;
            }
            p {
                @include cell__text;
                @include respond(ph) {
                    font-size: 2.6rem;
                    margin: 0.8rem;
                    padding-top: 4rem;

                }
            }
            .btn1 {
                @include cell__btn;
                @include btn__solo;
                font-weight: 900;

                @include respond(ph) {
                    font-size: 2.8rem;
                }
            }
            
        }
        &--item1 {
            position: relative;
            top: 5rem;
            background-image: linear-gradient(
            to right,
            rgba($color-secondary, .3),
            rgba($color-secondary-dark, .3)),
            url(../images/shop__item1.jpg);        
            background-size: cover;
            background-position: center;
            cursor: pointer;
            @include respond(tp) {
                top: auto;
                left: auto;
            }
            &:hover {             
                background-image: linear-gradient(
                to right,
                rgba($color-secondary, .8),
                rgba($color-secondary-dark, .8)),
                url(../images/shop__item1.jpg);
                background-size: cover;
                background-position: center;
                p {
                    opacity: 1;
                }
                .btn1 {
                    opacity: 1;
                }
            }
            }
        &--item2 {
            position: relative;
            top: 5rem;                
            background-image: linear-gradient(
            to right,
            rgba($color-secondary, .3),
            rgba($color-secondary-dark, .3)),
            url(../images/shop__item2.jpg);                
            background-size: cover;
            background-position: center;
            cursor: pointer;
            transition: all .5s;
            @include respond(tp) {
                top: auto;
                left: auto;
            }
            &:hover {
                background-image: linear-gradient(                    
                to right,
                rgba($color-secondary, .8),
                rgba($color-secondary-dark, .8)),
                url(../images/shop__item2.jpg);
                background-size: cover;
                background-position: center;
                p {
                    opacity: 1;
                }
                .btn1 {
                    opacity: 1;
                }
            }
            }
        &--item3 {
            position: relative;
            top: 5rem;
            background-image: linear-gradient(                    
            to right,
            rgba($color-secondary, .3),
            rgba($color-secondary-dark, .3)),
            url(../images/shop__item3.jpg);
            background-size: cover;
            background-position: center;                    
            cursor: pointer;
            transition: all .5s;
            @include respond(tp) {
                top: auto;
                left: auto;
            }
            &:hover {
                background-image: linear-gradient(
                to right,
                rgba($color-secondary, .8),
                rgba($color-secondary-dark, .8)),
                url(../images/shop__item3.jpg);
                background-size: cover;
                background-position: center;
                p {
                    opacity: 1;
                }
                .btn1 {
                    opacity: 1;
                }
            }
            }
        &--item4 {
            position: relative;
            top: 0rem;
            left: 14rem;
            background-image: linear-gradient(
            to right,
            rgba($color-secondary, .3),
            rgba($color-secondary-dark, .3)),
            url(../images/shop__item4.jpg);
            background-size: cover;
            background-position: center;
            cursor: pointer;
            transition: all .5s;
            @include respond(tp) {
                top: auto;
                left: auto;
            }
            &:hover {
                background-image: linear-gradient(
                to right,
                rgba($color-secondary, .8),
                rgba($color-secondary-dark, .8)),
                url(../images/shop__item4.jpg);
                background-size: cover;
                background-position: center;
                p {
                    opacity: 1;
                }
                .btn1 {
                    opacity: 1;
                }
            }
            }
        &--item5 {
            position: relative;
            top: 0rem;
            left: 14rem;
            background-image: linear-gradient(
            to right,
            rgba($color-secondary, .3),
            rgba($color-secondary-dark, .3)),
            url(../images/shop__item5.jpg);
            background-size: cover;
            background-position: center;
            cursor: pointer;
            transition: all .5s;
            @include respond(tp) {
                top: auto;
                left: auto;
            }
            &:hover {
                background-image: linear-gradient(
                to right,
                rgba($color-secondary, .8),
                rgba($color-secondary-dark, .8)),
                url(../images/shop__item5.jpg);
                background-size: cover;
                background-position: center;
                p {
                    opacity: 1;
                }
                .btn1 {
                    opacity: 1;
                }
            }
            }        
        &--item6 {
            position: relative;
            top: 0rem;
            left: 14rem;
            background-image: linear-gradient(
            to right,
            rgba($color-secondary, .3),
            rgba($color-secondary-dark, .3)),
            url(../images/shop__item6.jpg);
            background-size: cover;
            background-position: center;
            cursor: pointer;
            transition: all .5s;
            @include respond(tp) {
                top: auto;
                left: auto;
            }
            &:hover {    
                background-image: linear-gradient(
                to right,
                rgba($color-secondary, .8),
                rgba($color-secondary-dark, .8)),
                url(../images/shop__item6.jpg);
                background-size: cover;
                background-position: center;
                    p {
                    opacity: 1;
                }
                    .btn1 {
                        opacity: 1;
                    }
                }
            }
    }
}
// VIDEO
.promo {
    width: 100%;
    height: 40rem;
    padding-top: 8rem;
    @include respond(ph) {
        padding-top: 0rem;
    }
    &__container{
        width: 54rem;
        height: 30rem;
        margin: 0 auto;
        background-color: transparent;
        &-video iframe{
            width: 54rem !important;
            height: 30rem !important;
        }
    }
}


// BENEFITS
.benefits {
    padding-top: 1rem;
    width: 100%;
    margin-bottom: 16rem;

    @include respond(tp) {
        text-align: center;
        margin: 0 auto;
        padding-top: 2rem;
    }
    @include respond(ph) {
        padding-top: 0;
    }
    &__heading {
        display: block;
        font-family: 'Lato';
        color: $color-secondary-dark;
        text-align: center;
        margin: 4rem;
        font-size: 3rem;
        @include respond(tp) {
            margin: 2rem 0 4rem 0;
        }
    }

    &__container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        margin: 0 auto;
        
        @include respond(tp) {
            width: 100%;
            flex-direction: column;
        }
        @include respond(ph) {
            width: 100%;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 4rem;
        }
        img {
            width: 38rem;
            height: 36rem;
            max-width: 420px;
            max-height: 420px;
            margin: 0rem 6rem;
            box-shadow: $shadow;
            border-radius: $border-pic--l;
            @include respond(tp) {
                position: relative;
                text-align: center;
                margin: 0 auto;          
                margin-bottom: 2rem;      
            }
            @include respond(ph) {
                margin-bottom: 3rem;
            }
        }
        &--text {
            color: white;
            text-align: center;
            max-width: 30vw;
            float: right;
            @include footer__text;
            text-transform: none;
            font-size: 1.4rem;
            color: $color-dark;
            padding-top: 7rem;
            @include respond(tp) {
                position: relative;
                text-align: center;
                margin: 0 auto;
                font-size: 2rem;
                max-width: 90%;
                padding: 2rem;
            }
            @include respond(ph) {
                
                font-size: 2.4rem;
                max-width: 90%;
                padding: 2rem;
            }
        }
    }
}