$font-primary: 'Lato', sans-serif;
$font-secondary: 'Pacifico', cursive;

$color-primary: #E29805;
$color-primary-dark: #C68106;
$color-primary-contast:#573D05;

$bee-colour: #F9CD41;

$color-secondary: hsla(197, 43%, 39%, 1);
$color-secondary-dark: hsla(198, 70%, 17%, 1);
$color-bg-dark: rgba(255, 255, 255, .8);

$color-white: #ffffff;
$color-dark: #333333;
$color-footer: #96A7AF;
$color-footer-dark: #39768E;

$border-pic--s: 4px;
$border-pic--l: 8px;

$shadow: 2px 8px 16px rgba($color-dark, 0.6);
$shadow-active: 0px 5px 10px rgba($color-dark,0.4);

